In [99]:
import pandas as pd

In [100]:
pd.__version__

'2.2.2'

In [101]:
dict_measures = { 'age': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176] }

In [102]:
dict_measures

{'age': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [103]:
df_measures = pd.DataFrame.from_dict(dict_measures)

In [104]:
df_measures

   age  height
0   15     160
1   18     162
2   25     165
3   25     168
4   40     172
5   55     174
6   58     174
7   60     174
8   80     176

## Medidas Resumo

### Medidas de Posição

In [105]:
# mean
df_measures["age"].mean()

np.float64(41.77777777777778)

In [106]:
# median
df_measures["age"].median()

np.float64(40.0)

In [107]:
# mode
df_measures["age"].mode()

0    25
Name: age, dtype: int64

In [108]:
# mode
df_measures["height"].mode()

0    174
Name: height, dtype: int64

### Medidas de Dispersão

In [109]:
# variancia
df_measures.age.var()

np.float64(509.94444444444446)

In [110]:
# desvio padrao
df_measures.age.std()

np.float64(22.58194952709895)

In [111]:
# coeficiente de variação
df_measures.age.std() / df_measures.age.mean() * 100

np.float64(54.05253876167302)

In [112]:
# coeficiente de variação
df_measures.height.std() / df_measures.height.mean() * 100

np.float64(3.4803552812368785)