In [106]:
import pandas as pd

In [107]:
pd.__version__

'2.2.2'

In [108]:
dict_measures = { 'age': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176] }

In [109]:
dict_measures

{'age': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [110]:
df_measures = pd.DataFrame.from_dict(dict_measures)

In [111]:
df_measures

   age  height
0   15     160
1   18     162
2   25     165
3   25     168
4   40     172
5   55     174
6   58     174
7   60     174
8   80     176

## Medidas Resumo

### Medidas de Posição

In [112]:
# mean
df_measures["age"].mean()

np.float64(41.77777777777778)

In [113]:
# median
df_measures["age"].median()

np.float64(40.0)

In [114]:
# mode
df_measures["age"].mode()

0    25
Name: age, dtype: int64

In [115]:
# mode
df_measures["height"].mode()

0    174
Name: height, dtype: int64

### Medidas de Dispersão

In [116]:
# variancia
df_measures.age.var()

np.float64(509.94444444444446)

In [117]:
# desvio padrao
df_measures.age.std()

np.float64(22.58194952709895)

In [118]:
# coeficiente de variação
df_measures.age.std() / df_measures.age.mean() * 100

np.float64(54.05253876167302)

In [119]:
# coeficiente de variação
df_measures.height.std() / df_measures.height.mean() * 100

np.float64(3.4803552812368785)

### Medidas de Forma

In [120]:
# Assimetria - Idade
df_measures.age.skew()

np.float64(0.368108517895537)

In [121]:
# Assimetria - Altura
df_measures.height.skew()

np.float64(-0.598486996170113)

In [122]:
# Curtose - Idade
df_measures.age.kurtosis()

np.float64(-1.1344461075421046)

In [123]:
# Curtose - Altura
df_measures.height.kurtosis()

np.float64(-1.3372641199913002)

In [124]:
# Get measures
df_measures.age.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: age, dtype: float64

### Correlação de Variáveis

In [125]:
# Correlação do DataFrame, segundo Pearson
df_measures.corr(method='pearson')

             age    height
age     1.000000  0.931024
height  0.931024  1.000000

In [126]:
# Correlação entre 2 variáveis
df_measures.age.corr(df_measures.height)

np.float64(0.9310236045054339)

In [127]:
# Correlação do DataFrame, segundo Spearman
df_measures.corr(method='spearman')

             age    height
age     1.000000  0.978803
height  0.978803  1.000000