In [28]:
import pandas as pd

In [29]:
pd.__version__

'2.2.2'

In [30]:
dict_measures = { 'age': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176] }

In [31]:
dict_measures

{'age': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [32]:
df_measures = pd.DataFrame.from_dict(dict_measures)

In [33]:
df_measures

   age  height
0   15     160
1   18     162
2   25     165
3   25     168
4   40     172
5   55     174
6   58     174
7   60     174
8   80     176

## Medidas Resumo

### Medidas de Posição

In [34]:
# mean
df_measures["age"].mean()

np.float64(41.77777777777778)

In [35]:
# median
df_measures["age"].median()

np.float64(40.0)

In [36]:
# mode
df_measures["age"].mode()

0    25
Name: age, dtype: int64

In [37]:
# mode
df_measures["height"].mode()

0    174
Name: height, dtype: int64